[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==3.2.10"
django-environ = "*"
djangorestframework = "*"
daphne = "*"
drf-spectacular = "*"
django-cors-headers = "*"
channels-redis = "*"
channels = "==2.1.2"

[dev-packages]

[requires]
python_version = "3.11"
